#This the the canonical lab .gitignore file
malice_examples
#ignore temp files
*~
output
#ignore pdf files (just keep source files)
*.pdf

#ignore junk files from latex output
*.out
*.log
*.aux

#ignore junk files from compiling C code
*.o

#ignore junk files from compiling Haskell code
*.hi

#ignore other junk files
*.backup
*.kate-swp
*.swp

#yacc output files
*.tab.c
*.output
.nfs*

#ignore yacc/lex stuff
*.output
*.tab.c
*.yy.c
*.tab.h

#ignore binaries
compile

#ignore MAlice reference compiler junk
*.py
